<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
    <span>SATYRO</span>
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="Cambiar tema" (click)="toggleTheme()">
      <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
