<div class="content" fxLayout="column" fxLayoutAlign="center center">

  <div class="title-content" fxLayoutAlign="center center">
    <h1 class="title">Iniciar sesión</h1>
  </div>
  <div class="login-content" fxLayout="column" fxLayoutAlign="center center">

    <div class="img-content" fxLayoutAlign="center center">
      <img class="img-logo" src="assets/img/Logo-satyro.png" alt="">
    </div>

    <div class="form" fxLayout="column" fxLayoutAlign="center center">

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput type="email">
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </div>

    <div class="button-row" fxLayout="row" fxLayoutAlign="space-between center">
      <button class="flat-button" mat-flat-button color="primary" (click)="routingEvent(APP_ROUTES.HOME)">
        Iniciar sesión</button>
      <button class="flat-button" mat-flat-button color="accent">
        Registrarse</button>
    </div>

    <div class="recover-password"  fxLayoutAlign="center center">
      <p>¿Olvidaste tu contraseña?</p>
    </div>

    <hr class="divider">

    <div class="network-content" fxLayout="row" fxLayoutAlign="center center">
      <p class="sub-title">Continuar con:</p>
      <div class="flex-container" fxLayout="row">
        <button mat-icon-button class="btn-network btn">
          <i class="bi bi-facebook"></i>
        </button>
        <button mat-icon-button class="btn-network">
          <i class="bi bi-google"></i>
        </button>
      </div>
    </div>
  </div>
</div>
